<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="LocalGlobalPackages" value="%USERPROFILE%\.nuget\packages" />
    <add key="VisualStudioOfflinePackages" value="%ProgramFiles(x86)%\Microsoft SDKs\NuGetPackages\" />
  </packageSources>
</configuration>
